url = "/"
layout = "default"
title = "home"

[bannerList]

[gameComponent]

[GameInfo]

[Timer]

[GameStats]

[location]

[resetPassword]

[authentication]
rememberMe = "ask"
twoFactorAuth = 0
recoverPassword = 1

[GameWinner]
==
{% set iconPath = icon.getPath() %}
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">
                <img src="{{'assets/images/logo.svg'| theme}}" alt="logo img">
            </a>
            {% if not isGameOver %}
            <h3 class="header__title"><span class="header__title--gradient-first">Find the</span> <img
                    class="header__title-img" src="{{ icon.getPath() }}" alt="title-img">logo
                and get <span class="header__title--gradient-second">${{ cash }}</span>
                </h3>
                {% endif %}
            {% if user %}
            <a class="header__btn" href='account'>Profile</a>
            {% else %}
             <div class="header__box">
                    <button class="header__login" data-fancybox data-src="#modal-login">Log in</button>
                    <button class="header__sign" data-fancybox="reg" data-src="#modal-reg">Sign up</button>
             </div>
            {% endif %}
        </div>
    </div>
</header>
<main class="main">
    <div class="container">
        <div class="main-top" id="main-top">
            {% if (user and userAttempts < 3 and not isGameOver) or (not user and not isGameOver) %}
            {% partial "game/game-serach" %}
            {% endif %}
            {% if isGameOver or userAttempts == 3 %}
            {% partial "game/game-timer" %}
            {% else %}
            {% partial "game/game-attempts" %}
            {% endif %}
            {% partial "home/banner" %}
        </div>
        <div class="main-cells">
        {% if isGameOver or userAttempts == 3 or (not user and isGameOver) %}
        {% partial "game/gameclose" %}
        {% endif %}
            <div class="swiper-button-prev main-cells__btn btn-left" >
                <img src="{{'assets/images/btn-left.svg'| theme}}" alt="btn left">
            </div>
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper swiper-wrapper2">
                    
                </div>
            </div>
            <div class="swiper-button-next main-cells__btn btn-right">
                <img src="{{'assets/images/btn-right.svg'| theme}}" alt="btn right">
            </div>
        </div>
        {% partial "home/bottom" %}
            
    </div>
</main>


{% partial 'footer' %}
{% partial 'modalLogin' %}
{% partial 'modalReg' %}
{% partial 'modalPass' %}
{% partial 'modal-mail' %}
{% partial "modal-confEmail" %}
<div class="modal-home" id="modal-adv" style="padding: 97px 51px 50px;">
    <a class="closeModal-btn" href='/'></a>
        <p>your application has been sent Wait for a response by email</p>
        <a href="/">to Home Page</a>
    </div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>


<script>
function getCellsPerSlide() {
    var screenWidth = window.innerWidth;
    {% if isGameOver or userAttempts == 3 %}
    {% if user %}
    if (screenWidth <= 500) {
        return 100;
    } else {
    return 300;
    }
    {% else %}
    if (screenWidth <= 400) {
        return 300; 
    } else if (screenWidth <= 520) {
        return 200; 
    } else if (screenWidth <= 700) {
        return 600; 
    } else if (screenWidth <= 1200) {
        return 500; 
    } else {
        return 400; 
    }
    {% endif %}
    {% else %}
    if (screenWidth <= 500) {
        return 100; 
    } else if (screenWidth <= 768) {
        return 300; 
    } else {
        return 500; 
    }
    {% endif %}
}
        var slidesHTML = '';
        var cellsPerSlide = getCellsPerSlide();
        var currentSlideIndex = 0; 

        {% for cell in cells %}
        if ({{ loop.index0 }} % cellsPerSlide === 0) {
            slidesHTML += '<div class="swiper-slide main-cells__box">';
        }

       slidesHTML += `<button class="game-cell {% if cell.isWinner %}special-class-653{% else %}{% if cell.isChosen %}special-class-326{% endif %}{% endif %}" data-number="{{ cell.number }}" data-game-id="{{ game.id }}" data-slide-index="${currentSlideIndex}">{% if cell.isWinner %}<img src="{{ icon.getPath() }}" alt="Winner">{% else %}{{ cell.number }}{% endif %}</button>`;


        if ({{ loop.index0 }} % cellsPerSlide === cellsPerSlide - 1 || {{ loop.last ? 'true' : 'false' }}) {
            slidesHTML += '</div>';
            currentSlideIndex++;
        }
        {% endfor %}

        document.querySelector('.swiper-wrapper2').innerHTML = slidesHTML;
</script>
<script src="{{ 'assets/js/swiper.js' | theme }}"></script>
<script src="{{ 'assets/js/main.js' | theme }}"></script>
<script>
var iconPath = "{{ iconPath }}";
function updateButtonState(button, state) {
        if (state === 'winner') {
            button.addClass('special-class-653').prop('disabled', true).html(`<img src="${iconPath}" alt="Winner">`);
        } else if (state === 'chosen') {
            button.addClass('special-class-326').prop('disabled', true);
  
        }
        var attempts = $('.no').length;
        if (attempts >= 3) {
            disableAllButtons();
            openInfoModal();
        }
    }
</script>
<script src="{{ 'assets/js/game.js' | theme }}"></script>
 {% if this.session.has('showModal') %}
     <script>
        $(document).ready(function() {
            Fancybox.show([{
                src  : '#modal-confEmail', 
                type : 'inline',
                closeButton: false,
                dragToClose: false,
                closeExisting: true
            }]);
        });
    </script>
     {% do this.session.forget('showModal') %}
{% endif %}

{% if this.session.has('registerModal') %}
<script>
$(document).ready(function() {
Fancybox.show([{
          src: '#modal-mail',
          type: 'inline',
          closeButton: false,
          dragToClose: false,
          closeExisting: true
      }]);
});
</script>
{% do this.session.forget('registerModal') %}
{% endif %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Функция для получения параметра из URL
    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    const resetParam = getParameterByName('reset');
    if (resetParam) {
Fancybox.show([{
          src: '#modal-mail',
          type: 'inline',
          closeButton: false,
          dragToClose: false,
          closeExisting: true
      }]);
    }
});
</script>
{% if isGameOver or userAttempts == 3 %}
<script>
    // Получаем дату дедлайна из Twig
    const deadline = new Date("{{ lastGame.created_at|date("Y-m-d H:i:s") }}").getTime();

    // Обновление таймера каждую секунду
    const timer = setInterval(function() {

        // Текущее время
        const now = new Date().getTime();

        // Разница между дедлайном и текущим временем
        const timeLeft = deadline - now;

        // Расчёт времени
        const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

        // Выводим результат в элемент с id="countdown"
        document.getElementById("mainTopTimer").innerHTML = days + "d" + ":" + hours + "h" + ":"
        + minutes + "m" + ":" + seconds + "s";

        // Если таймер достиг нуля, то
        if (timeLeft < 0) {
            clearInterval(timer);
            document.getElementById("mainTopTimer").innerHTML = "Game start!";
        }
    }, 1000);
</script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.min.js"></script>