<form id="support-form" class="support-form" data-request="{{ __SELF__ }}::onFormSubmit">
                        {{ form_token() }}
                    <div id="{{ __SELF__ }}_forms_flash"></div>
                    <div class="support-form__box">
                        <input class="support-form__input" type="text" id="first_name" name="first_name" placeholder="Your first name" required>
                        <input class="support-form__input" type="text" id="last_name" name="last_name" placeholder="last name" required>
                        <input class="support-form__input" type="text" id="phone" name="phone" placeholder="phone" required>
                        <input class="support-form__input" type="email" id="mail" name="mail" placeholder="Your mail" required>
                    </div>
                    <p class="support-form__text">Write your question</p>
                    <textarea class="support-form__textarea" id="message" name="message" required></textarea>
                    <button class="support-form__btn">Send</button>
                    {# {% partial '@recaptcha' %} #}
                </form>