<form method="POST" class="ads-form" accept-charset="UTF-8"  data-request="{{ __SELF__ }}::onFormSubmit">
{{ form_token() }}
 {{ form_sessionKey() }}
                    <div id="{{ __SELF__ }}_forms_flash"></div>
                <div class="ads-form__inner">
                    <input class="ads-form__input" id="first_name" name="first_name" placeholder="Your first name" required>
                    <input class="ads-form__input" id="last_name" name="last_name" placeholder="last name" required>
                    <input class="ads-form__input" type="text" id="phone" name="phone" placeholder="phone" required>
                    <input class="ads-form__input" type="email" id="mail" name="mail" placeholder="Your mail" required>
                    <div class="ads-form__input-box">
                        <input class="ads-form__input" type="text" id="input5" placeholder="insert link to banner">
                        <button class="ads-form__info-btn" id="info-btn" type="button"></button>
                        <div class="ads-info" id="ads-info">
                            <p class="ads-info__text">If you don't have a link, attach an image in the bottom column
                            </p>
                        </div>
                        </div>
                        <div class="ads-form__input-box">
                        <h5 class="ads-form__box-title">Attach your advertisement</h5>
                        {% partial '@file-upload' %}
                            <p class="ads-form__box-subtitle">Advertising must be <span>960x170</span></p>                                
                            </div>                
                <button class="ads-form__btn">Send</button>
            </form>