<div class="modal-content" id="modal-forgotPass">
        <button class="closeModal-btn" data-fancybox-close></button>
        <h2 class="modal-content__title">Password recovery</h2>
        <form class="modal-form form-forgotPass" method="post" data-request="onRecoverPassword"> 
        <input type="hidden" name="redirect" value="true" />
            <p class="form-forgotPass__text">Please provide your E-mail address and we will send you instructions on how to change your password to a new one.</p>
            <input class="modal-form__input" name="email" type="email" placeholder="Your mail">
            <button class="modal-form__btn" type="submit">Send</button>
        </form>
    </div>