<div class="modal-content" id="modal-forgotPass">
        <button class="closeModal-btn"></button>
        <h2 class="modal-content__title">Password <br> recovery</h2>
        <form class="modal-form form-forgotPass">
            <input class="modal-form__input" type="email" id="input1" placeholder="Your mail">
            <p class="form-forgotPass__text">We will send further instructions to your email to reset your password.</p>
            <button class="modal-form__btn" data-fancybox data-src="#modal-mail">Send</button>
        </form>
    </div>